body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url('gator.jpg');
    background-size: cover;
}

.background .water {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url('water.png');
    background-size: cover;
    filter:url(#turbulence);
}